* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  height: 100vh;

  display: flex;
}

#canvas-container {
  width: 75vw;

  padding: 10px;
}

#canvas {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  border-radius: 4px;
  border: 1px solid rgba(100, 100, 111, 0.5);
}

#buttons-container {
  width: 25vw;

  padding: 10px;

  display: flex;
  row-gap: 20px;
  flex-direction: column;
  justify-content: center;
}

button {
  all: unset;

  padding: 8px;

  cursor: pointer;

  border-radius: 4px;

  color: white;
  background-color: orange;

  text-align: center;
}
