:root {
  --primary-blue: #007bff;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

#canvas-container {
  width: 100%;

  padding: 10px;
}

#canvas {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  border-radius: 4px;
  border: 1px solid rgba(100, 100, 111, 0.5);
}

#buttons-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button {
  all: unset;

  padding: 8px;

  cursor: pointer;

  border-radius: 4px;

  color: white;
  background-color: var(--primary-blue);
}
